body{
  /*background: url("./images/bg.jpg");  */
	background-color: #eef2f5;
  font-size:16px;
}

hr {
	margin-top:8px;
	margin-bottom:8px;
}

.btn {
	margin-right:10px;
	margin-left:10px;
	margin-bottom:10px;
}


.form-control {
	padding: 6px 6px;
}

.control-label {
	vertical-align:middle;display:inline-block;
}


.wyf-codes ul{
	align-items: center;
	list-style:none;
	margin:0px;
	padding: 0px 10px;
}

.wyf-codes ul li {
	display: inline;
	margin: 10px 10px;
	line-height: 40px;
}