<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">
    <properties>
         <property name="LOG_HOME">/var/attachment/logs</property>
         <property name="FILE_LOG_NAME">kylin</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t](%F:%L)[trace:%X{requestId}] - %m%n" />
        </Console>

        <RollingRandomAccessFile name="kylin-log"
                                 fileName="${LOG_HOME}/${FILE_LOG_NAME}.log"
                                 filePattern="${LOG_HOME}/${FILE_LOG_NAME}.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%d %-5p  [%t](%F:%L)[trace:%X{requestId}]  - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="org.springframework.core" level="info">
        </logger>
        <logger name="org.springframework.beans" level="info">
        </logger>
        <logger name="org.springframework.context" level="info">
        </logger>
        <logger name="org.springframework.web" level="info">
        </logger>

        <AsyncRoot level="info" includeLocation="true">
            <AppenderRef ref="kylin-log"/>
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>

</Configuration>